/* @tailwind base; */

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #f5f5d5;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 8px;
}

h1 {
    @apply .font-bold .text-3xl
}

a {
    @apply .text-blue-600
}

a:visited {
    @apply .text-red-600
}

a:hover {
    @apply .text-blue-900
}