/* @tailwind base; */

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #f5f5d5;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 8px;
}

/** 标题样式 */

h1, h2, h3, h4, h5, h6 {
    @apply .font-bold my-2
}

h1 {
    @apply .text-3xl mt-3
}

h2 {
    @apply .text-2xl mt-2
}

h3 {
    @apply .text-xl
}

a {
    @apply .text-blue-600
}

a:visited {
    @apply .text-red-600
}

a:hover {
    @apply .text-blue-900
}

/** 引用块的样式 */

blockquote {
    @apply p-1;
    background: rgba(187, 187, 187, 0.493);
    border-left: 2px solid red;
}

/** 列表样式 */

ol {
    list-style: decimal;
    margin-left: 1rem;
}
ul {
    list-style: square;
}

/** 正文段落的间隔 */

body>p {
    @apply mt-3;
}