/* @tailwind base; */

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/** 标题样式 */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .font-bold my-2;
}

h1 {
  @apply .text-3xl mt-3;
}

h2 {
  @apply .text-2xl mt-2;
}

h3 {
  @apply .text-xl;
}

a {
  @apply .text-blue-600;
}

a:visited {
  @apply .text-red-600;
}

a:hover {
  @apply .text-blue-900;
}

/** 引用块的样式 */

blockquote {
  @apply p-1;
  background: rgba(248, 229, 229, 0.493);
  border-left: 2px solid red;
}

/** 列表样式 */

ol {
  list-style: decimal;
  margin-left: 1rem;
}

ul {
  list-style: square;
}

/* 正文段落的间隔 */

body > p {
  @apply mt-3;
}

iframe {
  width: 100%;
  height: 375px;
}

.btn {
  --offset_base: 4px;
  --offset: 4px;
  box-shadow: 0 var(--offset) var(--offset) -1px #0000001a, 0 var(--offset) var(--offset) -1px #0000000f;
  transition: 0.3s all;
  transform: translateX(calc(var(--offset_base) - var(--offset))) translateY(calc(var(--offset_base) - var(--offset)));
  padding: 4px 8px;
  background: rgb(243, 243, 243);
  border-radius: 4px;
}
.btn:hover {
  --offset: 3px;
}
.btn:active {
  --offset: 0;
}
